<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        html, body {
            height:100%;
        }

    /*     body {
            display: grid;
            place-items: center;
        }

        .buttonText-on {
            color: red;
        }

        .buttonText-off {
            color: green;
        } */
    </style>
</head>
<body class="grid place-items-center">
    <div id="app">
        <section>
            <h2 class="font-bold mb-2">In Progress</h2>

            <ui>
                <li v-for="assignment in inProgressAssignments" :key="assignment.id">
                    <label>
                        {{ assignment.name }}
                        <input type="checkbox" v-model="assignment.complete">
                    </label> 
                    
                </li>
            </ui>

        </section>

        <section class="mt-8">
            <h2 class="font-bold mb-2">Completed</h2>

            <ui>
                <li v-for="assignment in completedAssignments" :key="assignment.id">
                    <label>
                        {{ assignment.name }}
                        <input type="checkbox" v-model="assignment.complete">
                    </label> 
                    
                </li>
            </ui>

        </section> 
        
       <!--  <pre>
            {{ assignments }}
        </pre> -->
    </div>
    <script>
        let app = {
                data() {
                    return {
                        active: false,
                        assignments: [
                            {name: 'Finish v3', complete: false, id: 1},
                            {name: 'Finish v4', complete: false, id: 2},
                            {name: 'Finish v5', complete: false, id: 3}
                        ]
                    };
                },

                methods: {
                    toggle() {
                        this.active = !this.active
                    }
                },

                computed: {
                    completedAssignments() {
                        return this.assignments.filter(a => a.complete)
                    },
                    inProgressAssignments() {
                        return this.assignments.filter(a => !a.complete)
                    }
                }
            }
        Vue.createApp(app).mount('#app');
    </script>
</body>
</html>
